.DMContainer {
  /* border: 1px solid black; */
  height: 400px;
  margin-top: 5%;
}

.messageContainer {
  display: flex;
  align-items: flex-end;
}

.singleMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.messageform {
  display: flex;
  align-items: flex-end;
  width: 400px;
 
}

.msgPortion {
  height: 350px;
  width: 400px;
  border: 1px solid black;
}

.formPortion{
    padding-bottom: 5%;
}


