.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  /* background-color: blue; */
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1)
}

.searchContainer {
  display: flex;
  align-items: center;
}

.sellNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.rightContainer {
  display: flex;

  margin-right: 5%;
  align-items: center;
  font-size: 15px;
}

.loginword {
  text-decoration: none;
  padding: 10px;
  color: #00a87e;
}

.signupword {
  text-decoration: none;
  color: #00a87e;
}

.logo {
  text-decoration: none;
  margin-left: 5%;
}

.demoword {
  text-decoration: none;
  color: #00a87e;
  border: none;
  background: none;
}

.msgNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.msgNav:hover .dropdownContent {
  display: block;
}

.dropbtn {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
}

.contentDropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 10px;
}

.contentDropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.contentDropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .contentDropdown {
  display: block;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

.rightNav {
  display: flex;
  justify-content: space-between;
  /* padding-right: 80px; */
  width: 200px;
  margin-right: 5%;
}